@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >
    <p>
        The company "Advertisement4Free"
        Was founded in 1994 with the aim of facilitating the life of all of us, through advertising quality products,
        Over the years, the company has grown in addition to publications from leading brands in the world,
        Expanded to personal advertising for everyone and for free !!.
        Today, "Advertisement4Free" serves as a home for advertising the world's leading products in the entire category.
        Publications and products that do not compromise on quality, convenience and innovation.
        The company "Advertisement4Free" repented to bring its customers
        Products with the highest level of user experience and will continue to grow,
        Innovate and surprise consumers and advertisers with high-quality, innovative products.
        To provide warm and personal service,
        And share with you the experience and knowledge accumulated over two decades
        The company exists.
        And if all this is not enough, we continue to do everything in order to bring you the latest, highest quality publications and compare to the surprises every day anew!

        We welcome you to visit our Facebook page where you can communicate with us online, get useful information, share your advertising experience, participate in competitions and win equal prizes.

    </p>

</div>
